body {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 200px;
    max-height: 100px;
}

.info-tiles {
    display: flex;
}

.band-intro {
    background-color: rgb(12, 12, 36);
    color: white;
    padding-bottom: 25px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 0px 25px;    
}

.header-links-list {
    list-style-type: none;
    display: flex;
    gap: 6px;
}

.header-links {
    margin-left: auto;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}
.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0px
}

.intro-tile {
    max-width: 475px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.intro-header {
    font-size: 48px;
    margin: 0px;
}

.intro-blurb {
    font-size: 24px;
    margin: 0px;
    color: gray;
    
}

.intro-image-actual {
    width: 400px;
    max-width: 400px;
    max-height: 250px;
}

.Sign-up {
    align-self: flex-start;
    min-width: 125px;
    min-height: 15px;
    padding: 6px 0px;
    background-color: rgb(60, 57, 255);
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;

}